<body>
    <div id="buttons">
        <ul>
            <li><a href="/addStock">Add Stock</a></li>
            <li><a href="/logout">Logout</a></li>
            
        </ul>
    </div>



    {{#each data}}
        <div id="content">
            <div id="info">
            <ul>
                <li>Item name : {{this.name}}</li>
                <li>Barcode : {{this.barcode}}</li>
                <li>£ {{this.price}}</li>
                <li>Aisle : {{this.Aisle}}</li>
                <li>Location : {{this.Location}}</li>
                <li>Stock: {{this.quanity}}</li>
                <li>Last updated : {{this.added}}</li>
                <li>Updated By : {{this.Created}}</li>
                <div id="update">
                <li><a href="/update/{{this.barcode}}">Update</a> </li>
                </div>
                </ul>
            </div>
            <div id="pic">
                <p><img src="./uploads/{{this.photo}}" width="200px" height="200px"></p>
            </div>
            
        </div>
    {{/each}}

    
</body>