<body>
         <ul>
            <li><a href="/logout">Logout</a></li>
            <li><a href="/">Home</a></li>
            
        </ul>
        {{#each data}}
		<h3>Change the price of {{this.name}} from £ {{this.price}}</h3>
        
		<form action="/update/changePrice/{{this.barcode}}" method="post" enctype="multipart/form-data">
            
			<p>
				<label for="price">Retail Price</label><br />
				<input type="number" minlength="1" size="2" maxlength="9" name="price" placeholder="price" required>
                
			</p>

            <div id="submit">
			    <input type="submit" value="Change Price">
            </div>
        </form>

        <li><img src="/uploads/{{this.photo}}" width="100px" height="100px"></li>
        {{/each}}


		{{#if message}}
			{{{message}}}
		{{/if}}
		</main>
	</body>